/*  */
/* generic */
/*  */

.genericPText{
  padding: 0;
  color: var(--Off_White);
  font-family: lato;
  font-size: var(--psize);
}

.genericTitleText{
  font-size: var(--headersize);
  font-family: Lato;
  margin: 0;
  color: var(--Nice_Blue);
  font-weight: 700;
}

.genericBlock {
  padding-top: var(--internalVerticalPadding);
  padding-bottom: var(--internalVerticalPadding);
  padding-left: var(--internalHorizontalPadding);
  padding-right: var(--internalHorizontalPadding);
  margin-right: var(--blockSideMargin);
  margin-left: var(--blockSideMargin);
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  gap:var(--verticalGap);
  background-color: var(--Dark_Grey);
  border-radius:10px;
}

.genericBlock:first-child{
  margin-top: var(--firstBlockMarginFromTop);
}


/*  */
/* topicBlock */
/*  */

.topicBlockSummaryText{
  padding: 0;
  color: var(--Off_White);
  font-family: lato;
  font-size: var(--psize);
  margin:0;
}

.topicBlockReactQuillHolder{
  width:100%;
  min-height: var(--summariserButtonWidth);
}

.topicBlockTooooooooooooooooooooooooggleSummaryButton{
  border: none; /* Removes the border */
  cursor: pointer; /* Changes the cursor on hover */
  padding: 0;
  height: var(--toggleQuillButtonSize);
  background: none
}

.topicBlockTooooooooooooooooooooooooggleSummaryButton img{
  height: 100%;
  width: auto;
}

.topicBlockSummariserButton {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none; /* Removes the border */
  cursor: pointer; /* Changes the cursor on hover */
  padding: 0;
  width: var(--magicWandButtonSize);
  background: none
}

.topicBlockSummariserButton img {
  height: auto; /* Set the width as needed */
  width: 100%; /* Maintain aspect ratio */
}

.topicBlockDeleteButton{
  display: flex;
  justify-content: center;
  align-items: center;
  border: none; /* Removes the border */
  cursor: pointer; /* Changes the cursor on hover */
  padding: 0;
  width: var(--magicWandButtonSize);
  background: none
}

.topicBlockDeleteButton img{
  height: var(--deleteButtonSize);
  width: auto;
}

.topicBlockHeaderContainer{
  display: flex;
  flex-direction: row;
  align-items: center;
  /* Oso contains animated transitions */
  overflow: hidden;
}

.topicBlockSummaryContainer{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: var(--summaryButtonGap);
  /* Oso contains animated transitions */
  overflow: hidden;
  width: calc(100% - var(--magicWandButtonSize))
}

.topicBlockMinutesContainer{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  /* Oso contains animated transitions */
  overflow: hidden;
}

.topicBlockMinutesContainer{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  /* Oso contains animated transitions */
  overflow: hidden;
}

.topicBlockTopicInput {
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  resize: none; /* Prevent user resizing of textarea */
  background: none;
  border:none;
}

.topicBlockTopicInput:focus {
  outline:none;
  border:none;
}

/*  */
/* detailBlock */
/*  */

.detailBlockMain{
  width:100%;
  gap:var(--horizontalGap);
  display:flex;
  flex-direction: row;
  margin:0;
}

.detailBlockText{
  margin:auto;
  height:fit-content; 
  color: var(--Off_White);
  font-family: lato;
  font-size: var(--psize);
}


.detailBlockInput{
  width:100%;
  background: transparent;
  resize:none;
  line-height: 1;
  height: var(--headersize);
  border: none; 
  outline: none; 
  padding-top: calc(var(--psize)/8);
  color: var(--Off_White);
  font-family: lato;
  font-size: var(--psize);
}

/*  */
/* mainArea */
/*  */

.mainAreaContainer{
  display: flex;
  flex-direction: column;
  gap: var(--betweenBlockGap);
  width: var(--overallWidth);
}

.mainAreaAddNewBlockButton{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  align-items: center;
  justify-content: center;
  border: none; /* Removes the border */
  cursor: pointer; /* Changes the cursor on hover */
  padding-top: var(--internalVerticalPadding);
  padding-bottom: var(--internalVerticalPadding);
  padding-left: var(--internalHorizontalPadding);
  padding-right: var(--internalHorizontalPadding);
  margin-right: var(--blockSideMargin);
  margin-left: var(--blockSideMargin);
  /* width: 100%; */
  gap:var(--horizontalGap);
  background-color: var(--Dark_Grey);
  border-radius:10px;
}
