/*  */
/* generic */
/*  */

.genericPText{
  padding: 0;
  color: var(--Off_White);
  font-family: lato;
  font-size: var(--psize);
}

.genericTitleText{
  font-size: var(--headersize);
  font-family: Lato;
  margin: 0;
  color: var(--Nice_Blue);
  font-weight: 700;
}

.genericBlock {
  padding-top: 2vh;
  padding-bottom: 2vh;
  padding-left: 4vh;
  padding-right: 4vh;
  margin-right: 2vh;
  margin-left: 2vh;
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  gap:1vh;
  background-color: var(--Dark_Grey);
  border-radius:10px;
  margin-top: 2vh;
}


/*  */
/* topicBlock */
/*  */

.topicBlockSummaryText{
  padding: 0;
  color: var(--Off_White);
  font-family: lato;
  font-size: var(--psize);
  margin:0;
}

.topicBlockReactQuillHolder{
  width:100%;
  min-height: 4vh;
}

.topicBlockTooooooooooooooooooooooooggleSummaryButton{
  border: none; /* Removes the border */
  cursor: pointer; /* Changes the cursor on hover */
  padding: 0;
  height: 3vh;
  background: none
}

.topicBlockTooooooooooooooooooooooooggleSummaryButton img{
  height: 100%;
  width: auto;
}

.topicBlockSummariserButton {
  border: none; /* Removes the border */
  cursor: pointer; /* Changes the cursor on hover */
  padding: 0;
  width: 4vh;
  background: none
}

.topicBlockSummariserButton img {
  height: auto; /* Set the width as needed */
  width: 100%; /* Maintain aspect ratio */
}

.topicBlockDeleteButton{
  display: flex;
  justify-content: center;
  align-items: center;
  border: none; /* Removes the border */
  cursor: pointer; /* Changes the cursor on hover */
  padding: 0;
  width: 4vh;
  background: none
}

.topicBlockDeleteButton img{
  height: 2.5vh;
  width: auto;
}

.topicBlockHeaderContainer{
  display: flex;
  flex-direction: row;
  align-items: center;
  /* Oso contains animated transitions */
  overflow: hidden;
}

.topicBlockSummaryContainer{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  /* Oso contains animated transitions */
  overflow: hidden;
  width: calc(100% - 4vw)
}

.topicBlockMinutesContainer{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  /* Oso contains animated transitions */
  overflow: hidden;
}

.topicBlockTopicInput {
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  resize: none; /* Prevent user resizing of textarea */
  background: none;
  border:none;
}

.topicBlockTopicInput:focus {
  outline:none;
  border:none;
}

/*  */
/* detailBlock */
/*  */

.detailBlockMain{
  width:100%;
  gap:2vh;
  display:flex;
  flex-direction: row;
  margin:0;
}

.detailBlockText{
  margin:auto;
  height:fit-content; 
  color: var(--Off_White);
  font-family: lato;
  font-size: var(--psize);
}


.detailBlockInput{
  width:100%;
  background: transparent;
  resize:none;
  line-height: 1;
  height: var(--headersize);
  border: none; 
  outline: none; 
  padding-top: calc(var(--psize)/8);
  color: var(--Off_White);
  font-family: lato;
  font-size: var(--psize);
}

/*  */
/* mainArea */
/*  */

.mainAreaContainer{
  display: flex;
  flex-direction: column;
  gap: 2vh;
  width: 60vw;
}

.mainAreaAddNewBlockButton{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  align-items: center;
  justify-content: center;
  border: none; /* Removes the border */
  cursor: pointer; /* Changes the cursor on hover */
  padding-top: 2vh;
  padding-bottom: 2vh;
  padding-left: 4vh;
  padding-right: 4vh;
  margin-right: 2vh;
  margin-left: 2vh;
  /* width: 100%; */
  gap:2vh;
  background-color: var(--Dark_Grey);
  border-radius:10px;
  margin-top: 2vh;
}
