.button-small {
    width: 8.875rem;
}

.button-medium {
    width: 17.125rem;
}

.button-large {
    width: 41.25rem;
}

.fill {
    border: 1px solid var(--Grey, #323233);
    background: var(--Nice-Blue, #9CA5D8);
}

.fill:hover {
    border: 1px solid var(--Grey, #323233);
    background: var(--Nice-Blue-75, rgba(156, 165, 216, 0.75));
}

.border {
    border: 1px solid var(--Nice-Blue, #9CA5D8);
    background: transparent
}

.border:hover {
    border: 1px solid var(--Nice-Blue, #9CA5D8);
    background: var(--Nice_Blue_25, rgba(156, 165, 216, 0.25));
}

.no-background {
    border: transparent;
    background: transparent
}

.button {
    display: flex;
    min-height: 2.75rem;
    padding: 0.625rem 1.25rem;
    justify-content: center;
    align-items: center;
    gap: 0.3125rem;
    border-radius: 0.3125rem;
}

.icon-button{
    display: flex;
    padding: 0.625rem 1.25rem;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 0.3125rem;
    flex-shrink: 0;
    flex-wrap: wrap;
    border-radius: 3.125rem;
}

.icon-button-small {
    width: 1.5rem;
    height: 1.5rem;
}

.icon-button-large {
    width: 3rem;
    height: 3rem;
}

.button-text {
    color: var(--Grey, #323233);
    text-align: center;

    /* Button Text */
    font-family: 'Lato', sans-serif;;
    font-size: 0.9375rem;
    font-style: normal;
    font-weight: 900;
    line-height: 0.9375rem;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
}

.border-text{
    color: var(--Nice-Blue, #9CA5D8);
}

.fill-text{
    color: var(--Grey, #323233);
}