.button-small {
    width: 7.39vw;
    /* width: 8vw; */
}

.button-medium {
    width: 14.27vw;
    /* width: 15vw; */
}

.button-large {
    /* width: 25vw; */
    width: 34.375vw;
}

.purple-fill {
    border: 1px solid var(--Grey, #323233);
    background: var(--Nice-Blue, #9CA5D8);
}

.purple-fill:hover {
    border: 1px solid var(--Grey, #323233);
    background: var(--Nice-Blue-75, rgba(156, 165, 216, 0.75));
}

.purple-border {
    border: 1px solid var(--Nice-Blue, #9CA5D8);
    background: transparent
}

.purple-border:hover {
    border: 1px solid var(--Nice-Blue, #9CA5D8);
    background: var(--Nice_Blue_25, rgba(156, 165, 216, 0.25));
}

.no-background {
    border: transparent;
    background: transparent
}

.white-border {
    border: 1px solid var(--Off_White, #D1D1D1);
    background: transparent;
}

.white-border:hover {
    border: 1px solid var(--Off_White, #D1D1D1);
    background: var(--Off_White_25, rgba(209,209,209,0.25));
}

.red-fill {
    border: 1px solid var(--Off_White, #D1D1D1);
    background: var(--Alert-Red, rgba(171, 41, 41));
}

.red-fill:hover {
    border: 1px solid var(--Off_White, #D1D1D1);
    background: var(--Alert-Red, rgba(171, 41, 41, 0.75));
}

.button {
    display: flex;
    min-height: 2rem;
    padding: 1.25vh 0.75vw;
    justify-content: center;
    align-items: center;
    gap: 0.3125rem;
    border-radius: 0.3125rem;
    cursor: pointer;
}

.icon-button {
    display: flex;
    padding: 15px 15px;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 0.3125rem;
    flex-shrink: 0;
    flex-wrap: wrap;
    border-radius: 50%;
    cursor: pointer;
    width: 1.5vw;
    height: 1.5vw;
}

.icon-button-small {
    width: 1.5vw;
    height: 1.5vw;
}

.icon-button-large {
    width: 3vw;
    height: 3vw;
}

.button-text {
    color: var(--Grey, #323233);
    text-align: center;

    /* Button Text */
    font-family: 'Lato', sans-serif;
    ;
    font-size: 0.8rem;
    font-style: normal;
    font-weight: 600;
    line-height: 0.8rem;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
}

.border-text {
    color: var(--Nice-Blue, #9CA5D8);
}

.fill-text {
    color: var(--Grey, #323233);
}

.white-text {
    color: var(--Off_White, #D1D1D1);
}