.gloss-mainContainer{
    position: relative;
    background-color: var(--Dark_Purple_Blue);
    width: 88%;
    margin: auto;
    margin-bottom: var(--verticalGap);
    z-index: 2;
    border-radius: var(--smallBorderRadius);
}


.gloss-tab{
    width: 88%;
    display: flex;
    flex-direction: column;
    padding: 1.5vh 1vw;
}

.gloss-tabHeaderContainer{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.gloss-tabHeaderAbbreviationText{
    color: var(--Nice_Blue);
    width: 70%;
    margin: 0;
    font: var(--ui-subheading);
    letter-spacing: 0.1vw;
    margin-bottom: var(--tabVerticalGap);
    word-break: break-all;
}

.gloss-tabHeaderIconContainer{
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.gloss-saveIcon,
.gloss-cancelIcon,
.gloss-deleteIcon,
.gloss-editIcon{
    width: 18%;
    object-fit: contain;
    margin-left: 0.5vw;
}

.gloss-saveIcon:hover,
.gloss-cancelIcon:hover,
.gloss-deleteIcon:hover,
.gloss-editIcon:hover{
    cursor: pointer;
}

.gloss-tabMeaningText,
.gloss-editTextArea{
    margin: 0;
    background-color: transparent;
    border: none;
    outline: none;
    color: var(--Off_White);
    font: var(--ui-bold-text);
    letter-spacing: 0.25px;
    resize: none;
    height: auto;
    overflow: hidden;
    word-break: break-all;
}

.gloss-editTextArea:focus{
    border: none;
    outline: none;
}