.cc-queryChatBubble{
    margin: auto;
    margin-right: 0;
    width: 65%;
    padding: 0;
    background-color: var(--Nice_Blue);
    border-radius: 8px;
    margin-bottom: var(--verticalGap);
}


.cc-queryText{
    margin: 0;
    text-align: left;
    width: 84%;
    margin-left: 8%;
    padding: 1.75vh 0;
    color: var(--Dark_Grey);
    font: var(--ui-bold-text);
    letter-spacing: 0.25px;
    white-space: pre-line;
}

.cc-responseChatBubble{
    margin: auto;
    margin-left: 0;
    width: 65%;
    padding: var(--verticalGap) 0 1vh 0;
    background-color: var(--Dark_Purple_Blue);
    border-radius: 8px;
    margin-bottom: var(--verticalGap);
}

.cc-loadingResponseAnimation{
    background-color: var(--Off_White);
    width: 0.15vw;
    height: var(--verticalGap);
    margin-left: 8%;
    opacity: 1;
    animation: 1s blink step-end infinite;
}

@keyframes blink {
    from, to {
        background-color: transparent;
    }
    50% {
        background-color: var(--Off_White);
    }
  }


.cc-responseText{
    margin: 0;
    text-align: left;
    width: 84%;
    margin-left: 8%;
    padding: 0 0 1vh 0;
    color: var(--Off_White);
    font: var(--ui-bold-text);
    letter-spacing: 0.25px;
    white-space: pre-line;
}

.cc-responseSourceContainer{
    border-top: 1.5px solid var(--Off_White_10);
    width: 88%;
    margin-left: 6%;
    margin-top: 1vh;
}

.cc-responseSourceHeader{
    margin: 0;
    margin-top: 1vh;
    color: var(--Off_White);
    font: var(--ui-bold-text);
    letter-spacing: 0.25px;
    margin-bottom: 1vh;
}

.cc-responseSourceList{
    margin: 0;
    padding: 0 8%;
}

.cc-responseSourceText{
    color: var(--Nice_Blue);
    font: var(--ui-subtext);
    letter-spacing: 0.25px;
    margin: 0.5vh 0;
}

.cc-responseSourceText:last-child{
    padding-bottom: 1vh;
}

.cc-responseSourceText:hover{
    text-decoration: underline;
    cursor: pointer;
}

