.rsb-background{
    height: 100vh;
    width: var(--rightSideWidth);
    background-color: var(--Dark_Grey_50);
    position: fixed;
    bottom: 0;
    right: 0;
}

.rsb-deleteChatHistoryOverlay{
    background-color: var(--Black_60);
    z-index: 2;
    width: var(--rightSideWidth);
    height:100%;
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
}

.rsb-overallContainer{
    width: 25vw;
    position: fixed;
    right: 0;
    background-color: var(--Dark_Grey);
    height: 100vh;
    bottom: 0;
}

.rsb-dropDownTab{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: var(--verticalGap) 0;
    border-bottom: 2px solid var(--Grey);
    z-index: 999;
}

@keyframes scrollUp {
    0% {
        height: 5.2vh;
        bottom: 0;
    } 100% {
        height: 100vh;
        bottom: 0;
    }
}

@keyframes scrollDown {
    0%{
        height: 100vh;
        bottom: 0;
    } 100% {
        height: 5.2vh;
        bottom: 0;
    }
}

.rsb-dropDownIcon{
    height: var(--smallIcon);
    object-fit: contain;
    transition: transform 0.75s ease-in-out;
}

.rsb-tabContainer{
    display: flex;
    flex-direction: row;
}

.rsb-tab{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rsb-tabText{
    margin: 0;
    /* font-size: 2.5vmin; */
    font: var(--ui-heading);
    margin: var(--textGap) 0;
    max-width: 80%;
    word-break: break-word;
    cursor: pointer;
}

.errorContainer,
.tabDetailsContainer{
    width: 100%;
}

.rsb-backgroundIconContainer{
    z-index: 1;
    top:50vh;
    position: absolute;
    width: 100%;
    transform: translateY(-60%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.rsb-backgroundIconText{
    color: var(--Dark_Purple_Blue);
    font: var(--ui-background-text);
    max-width: 80%;
    word-break: break-word;
    letter-spacing: 1px;
    margin-bottom: var(--textGap);
}

.rsb-backgroundCuriousCatIcon{
    width: 75%;
    object-fit: contain;
}


.rsb-backgroundGlossaryIcon{
    width: 55%;
    object-fit: contain;
}


.rsb-moreOptionsContainer{
    z-index: 999;
    width: 100%;
    padding: var(--textGap) 0;
    display: flex;
    justify-content: flex-end;
    background-color: var(--Dark_Grey);
}

.rsb-moreIcon{
    z-index: 999;
    padding-right: 6%;
    height: 3.5vh;
    object-fit: contain;
}

.rsb-moreIcon:hover{
    cursor: pointer;
    fill-opacity: 0.25;
}

.rsb-moreOptionsHoverableContainer:hover{
    fill-opacity: 0.25 !important;
}

.rsb-clearChatContainer{
    position: absolute;
    top: 18vh;
    right: 6%;
    background-color: var(--Grey);
    padding: 1vh 1vw;
    border-radius: var(--smallBorderRadius);
    z-index: 5;
}

.rsb-clearChatContainer:hover{
    cursor: pointer;
    background-color: var(--Dark_Purple_Blue);
}

.rsb-clearChatText{
    color: var(--Off_White);
    letter-spacing: 0.5px;
    font: var(--ui-comment);
    margin: 0;
}


.rsb-queryChatContainer{
    z-index: 2;
    position: relative;
    width: 88%;
    margin:auto;
    overflow-y: scroll;
    scrollbar-width: none;  /* Firefox */
    -ms-overflow-style: none;  /* IE and Edge */
}


.rsb-queryChatContainer::-webkit-scrollbar {
    display: none;
}
  
.rsb-queryBottomContainer{
    z-index: 999;
    position: fixed;
    width: 25vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--Dark_Grey);
    padding-top: var(--verticalGap);
}

.rsb-errorTextSmall{
    color: var(--Red);
    font: var(--ui-captions);
    text-align: center;
    margin: 0;
    margin-bottom: var(--verticalGap);
}

.rsb-errorText{
    color: var(--Red);
    font: var(--ui-alertText);
    text-align: left;
    margin: 0;
    margin-bottom: var(--textGap);
}


.rsb-queryModeContainer{
    display: flex;
    flex-direction: row;
    width: 84%;
    align-items: center;
    border-radius: var(--smallBorderRadius);
    border: 1.5px solid var(--Nice_Blue);
    margin-bottom: var(--verticalGap);
}

.rsb-dropDownTab:hover,
.rsb-tab:hover,
.rsb-queryModeContainer:hover,
.rsb-sendIcon:hover{
    cursor: pointer;
}

.rsb-queryModeToggle{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rsb-queryModeText{
    letter-spacing: 0.5px;
    font: var(--ui-comment);
    margin: 0.5vh 0;
    color: var(--Nice_Blue);
    cursor: pointer;
}

.rsb-queryInputContainer{
    width: 84%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    background-color: var(--Grey);
    padding: 0.5vh;
    border-radius: 3.5px;
}

.rsb-queryInputTextArea{
    max-height: 25vh;
    width: 88%;
    border:none;
    resize: none;
    border: none;
    background-color: transparent;
    font: var(--ui-text);
    color: var(--Off_White);
    overflow: hidden;
    height: auto;
    padding: var(--tabVerticalGap) 0 0vh 0.5vw;
}

.rsb-queryInputTextArea:focus{
    border: none;
    outline: none;
    box-shadow: none;
}

.rsb-inputContainerLoadingAnimation{
    display: flex;
    flex-direction: row;
    margin-right: 0.5vw;
}

.rsb-inputContainerLoadingAnimation span{
    width: 0.45vmin;
    height: 0.45vmin;
    border-radius: 50%;
    margin-right: 0.25vw;
    margin-bottom: 1.35vh;
    background-color: var(--Off_White);
    animation: jump 1.5s linear infinite 0.5s
}

.rsb-inputContainerLoadingAnimation span:nth-child(2){
    animation-delay: 0.75s;
}

.rsb-inputContainerLoadingAnimation span:last-child{
    animation-delay: 1s;
}

@keyframes jump {
    25% {
        transform: translateY(0);
    } 50% {
        transform: translateY(-0.15vh);
    } 75% {
        transform: translateY(0);
    }
}

.rsb-sendIcon{
    width: var(--medIcon);
    object-fit: contain;
    margin-bottom: var(--tabVerticalGap);
    margin-right: 2%;
}

.rsb-curiousCatCautionText{
    width: 84%;
    font: var(--ui-captions);
    color: var(--Off_White);
    text-align: center;
}

.rsb-glossaryContainer{
    height: 85%;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}


.rsb-glossaryContainer::-webkit-scrollbar {
    display: none; /* for Chrome, Safari and Opera */
}
